<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/homestyle.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header>  
    <nav>  
        <ul>  
            <li>  
                <a href="/home"><button>home page</button></a>  
            </li> 
            <li>  
                <a href="/messi"><button>Goat's page</button></a>  
            </li>  
            <li>  
                <a href="/about"><button>about barcelona</button></a>
            </li>  
            <li>  
                <a href="/survey"><button>important survey</button></a> 
            </li>  
            <li>  
                <a href="/signout"><button>signout</button></a>
            </li>   
        </ul>  
    </nav>  
</header>  

<!-- Heading -->
<h1>
    Welcome to the About Barcelona Page
</h1>

<h2>
    Barcelona, colloquially known as Barça ([ˈbaɾsə]), is a professional football club based in Barcelona, Catalonia, Spain, that competes in La Liga, the top flight of Spanish football. 
</h2>

<!-- Add side photos from Wikipedia page of events -->
<h3>
    Trophies - 
    Champions League - 5
    FIFA Club World Cup - 3
    European Cup Winners' Cup - 4
    Fairs Cup - 3
    Fairs Cup - 3
    ...
</h3>

<h3>
    El Clasico: Barcelona wins over Real Madrid in total is 124, whereas Real Madrid has 108 wins. Draws - 64
</h3>

<h3>
    Barcelona's Peak - 2015, includes in the squad [Messi, Suarez, and Neymar in the offense. Iniesta and Rakitic as the CMs. Alba and Pique in the defense. And of course, Ter Stegen as the goalkeeper]
</h3>

<h3>
    I think you get the main point, so let me stop wasting time on Barcelona research because it's a CS project and the focus should be more on the design and so!
</h3>

<!-- Add photos at the bottom -->
<div class="photo-container">
    <img src="static/imgs/weke1.jpg" alt="Photo 1">
    <img src="static/imgs/Ronaldinho.jpg" alt="Photo 2">
    <img src="static/imgs/Guardiola.jpg" alt="Photo 3">
    <img src="static/imgs/2015.jpg" alt="Photo 4">

</div>

</body>
</html>