<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/homestyle.css">
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    
        <!-- Heading -->
        <h1>
        welcome to messi's page
        </h1>



        <header>  
        <nav>  
        <ul> 
        <li>  
        <a href="/home"><button>home page</button></a>  
        </li>  
        <li>  
        <a href="/messi"><button>Goat's page</button></a>  
        </li>  
        <li>  
        <a href="/about"><button>about barcelona</button></a>
        </li>  
        <li>  
        <a href="/survey"><button>important survey</button></a> 
        </li>  
        <a href="/signout"><button>signout</button></a>
        </li>   
        </ul>  
        </nav>  
        </header>  

            
            
            
            
        

</body>
</html>